{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div style="padding-top:150px">
{{ form(form) }}
</div>
{% endblock %}

{% block contactForm %}
{% endblock %}

{% block footer %}
{% endblock %}
